.title {
  margin-right: 20px;
  height: 70px;
  color: var(--color-red);
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  line-height: 60px;
}

.navbar {
  width: 100%;
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
  color: rgba(0, 0, 0, 1);
  transition: all var(--animation-duration) ease-in-out;
  box-shadow: inset 0px 70px 70px -80px var(--color-black);
}

.navbar__dark {
  background-color: var(--color-black);
}

.container {
  width: 100%;
  margin-left: 0;
  padding-left: 35px;
  height: 70px;
}

.navbar__menu__item:hover {
  color: grey;
}

@media screen and (max-width: 768px) {
  .title {
    margin-right: 10px;
    font-size: var(--font-medium);
    height: 50px;
    line-height: 40px;
  }

  .navbar {
    padding: 0 15px;
    height: 50px;
    color: rgba(0, 0, 0, 1);
    transition: all var(--animation-duration) ease-in-out;
    box-shadow: inset 0px 50px 50px -40px var(--color-black);
  }

  .container {
    padding-left: 0;
    height: 50px;
  }

  .navbar__menu__item {
    font-size: var(--font-small);
  }
}
